<a href="https://colab.research.google.com/github/Jedi80/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/blob/main/Project_15/Text2SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Text-to-SQL: Bridging the Gap Between Human Language and Databases


Text-to-SQL, also known as Natural Language to SQL (NL2SQL), is a rapidly evolving technology that translates natural, everyday language into Structured Query Language (SQL) commands. This innovative approach empowers users to interact with and retrieve data from databases simply by asking questions in plain English, eliminating the need for specialized knowledge of complex SQL syntax.

At its core, Text-to-SQL acts as an intelligent translator. It leverages the power of artificial intelligence, particularly **Natural Language Processing (NLP)** and sophisticated **AI models**, to understand the user's intent and generate the corresponding SQL query. This process allows individuals without a technical background to explore and analyze data, thereby democratizing data access within an organization.

# TANGENT Zero
Let's take a minute to look at https://bird-bench.github.io/

http://mockaroo.com

## Retrieve data

In [55]:
! curl "https://api.mockaroo.com/api/dde01370?count=1000&key=11149690" > "customers.csv"
! curl "https://api.mockaroo.com/api/8ba6f630?count=1000&key=11149690" > "products.csv"
! curl "https://api.mockaroo.com/api/6fa67fe0?count=3000&key=11149690" > "orders.csv"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 99430    0 99430    0     0  74332      0 --:--:--  0:00:01 --:--:-- 74312
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  689k    0  689k    0     0   396k      0 --:--:--  0:00:01 --:--:--  396k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  230k    0  230k    0     0  51834      0 --:--:--  0:00:04 --:--:-- 52664

## Setup database

In [56]:
import os
import sqlite3
import pandas as pd

In [57]:
pd.read_csv('customers.csv').head()

,customer_id,first_name,last_name,email,phone_number,address,city,country,postal_code,loyalty_points
0,1,Norry,Blackmore,nblackmore0@live.com,835-178-7673,2086 Russell Junction,Đắk Mil,Vietnam,NaN,430
1,2,Marillin,Waggett,mwaggett1@who.int,344-340-8735,62724 Granby Plaza,Bom Jesus do Itabapoana,Brazil,28360-000,133
2,3,Glenine,Paireman,gpaireman2@furl.net,589-990-8709,5398 Schmedeman Terrace,Roma,Italy,00163,262
3,4,Netti,Skrine,nskrine3@sbwire.com,333-609-7539,6 Washington Trail,Kebloran,Indonesia,NaN,54
4,5,Forster,Bernardy,fbernardy4@ning.com,106-335-3725,233 Killdeer Drive,Alcantara,Philippines,5509,695

In [58]:
customers_schema = """
CREATE TABLE IF NOT EXISTS customers (
    customer_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(50),
    phone_number VARCHAR(50),
    address VARCHAR(50),
    city VARCHAR(50),
    country VARCHAR(50),
    postal_code VARCHAR(50),
    loyalty_points INT
);
"""

In [59]:
pd.read_csv('products.csv').head(3)

,product_id,product_name,description,price,discount_percentage,category,brand,stock_quantity,color,size,weight,dimensions,release_date,rating,reviews_count,seller_name,seller_rating,seller_reviews_count,shipping_method,shipping_cost
0,1,nec nisi volutpat eleifend donec ut dolor morb...,"Nulla neque libero, convallis eget, eleifend l...",311.01,32.24,beauty,molestie sed justo pellentesque viverra pede a...,558,Yellow,small,2.0,lectus in quam fringilla rhoncus mauris enim l...,2022-02-05,4.9,519,molestie nibh in lectus pellentesque at nulla ...,2.1,162,free,45.57
1,2,volutpat convallis morbi odio odio elementum e...,Maecenas ut massa quis augue luctus tincidunt....,37.25,47.25,toys,ligula pellentesque ultrices phasellus id sapi...,973,Aquamarine,large,8.5,ut volutpat sapien arcu sed augue aliquam erat...,2011-03-15,4.1,648,adipiscing lorem vitae mattis nibh ligula nec ...,2.5,254,standard,40.59
2,3,tincidunt eget tempus vel pede morbi porttitor...,Morbi a ipsum.,334.38,28.41,home decor,morbi a ipsum integer a nibh in quis justo mae...,519,Orange,medium,1.3,venenatis lacinia aenean sit amet justo morbi ...,2019-04-27,1.1,365,consequat ut nulla sed accumsan felis ut at do...,2.0,626,free,11.24

In [60]:
products_schema = """
CREATE TABLE IF NOT EXISTS products (
    product_id INT PRIMARY KEY,
    product_name TEXT,
    description TEXT,
    price DECIMAL(10,2),
    discount_percentage DECIMAL(5,2),
    category VARCHAR(50),
    brand TEXT,
    stock_quantity INT,
    color VARCHAR(50),
    size VARCHAR(20),
    weight DECIMAL(5,2),
    dimensions TEXT,
    release_date DATE,
    rating DECIMAL(3,1),
    reviews_count INT,
    seller_name TEXT,
    seller_rating DECIMAL(3,1),
    seller_reviews_count INT,
    shipping_method VARCHAR(20),
    shipping_cost DECIMAL(6,2)
);
"""

In [61]:
pd.read_csv('orders.csv').head()

,order_id,customer_id,product_id,quantity,unit_price,total_price,order_date,shipping_address,payment_method,status
0,1,928,710,84,354.42,6604.68,2022-05-23,34 Porter Park,Apple Pay,delivered
1,2,827,904,50,725.01,5400.46,2021-10-19,269 Nevada Parkway,PayPal,shipped
2,3,327,187,95,205.05,1216.76,2020-08-07,2458 International Plaza,PayPal,pending
3,4,454,176,75,227.53,5336.72,2020-09-07,4 Reindahl Plaza,credit card,shipped
4,5,156,165,82,43.42,502.74,2021-06-25,20 Scofield Circle,PayPal,delivered

In [62]:
orders_schema = """
CREATE TABLE IF NOT EXISTS orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    product_id INT,
    quantity INT,
    unit_price DECIMAL(10,2),
    total_price DECIMAL(10,2),
    order_date DATE,
    shipping_address VARCHAR(255),
    payment_method VARCHAR(20),
    status VARCHAR(20),
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
);
"""

In [63]:
db_name = 'ecommerce.db'

if os.path.exists(db_name):
    os.remove(db_name)
    print(f"Removed existing database '{db_name}'.")

Removed existing database 'ecommerce.db'.

In [64]:
import sqlite3
import pandas as pd
import os



COLUMN_DATA_TYPES = {
    'customers': {
        'customer_id': 'int64',
        'first_name': 'object',
        'last_name': 'object',
        'email': 'object',
        'phone_number': 'object',
        'address': 'object',
        'city': 'object',
        'country': 'object',
        'postal_code': 'object',
        'loyalty_points': 'int64'
    },
    'products': {
        'product_id': 'int64',
        'product_name': 'object',
        'description': 'object',
        'price': 'float64',
        'discount_percentage': 'float64',
        'category': 'object',
        'brand': 'object',
        'stock_quantity': 'int64',
        'color': 'object',
        'size': 'object',
        'weight': 'float64',
        'dimensions': 'object',
        'release_date': 'datetime64[ns]',
        'rating': 'float64',
        'reviews_count': 'int64',
        'seller_name': 'object',
        'seller_rating': 'float64',
        'seller_reviews_count': 'int64',
        'shipping_method': 'object',
        'shipping_cost': 'float64'
    },
    'orders': {
        'order_id': 'int64',
        'customer_id': 'int64',
        'product_id': 'int64',
        'quantity': 'int64',
        'unit_price': 'float64',
        'total_price': 'float64',
        'order_date': 'datetime64[ns]',
        'shipping_address': 'object',
        'payment_method': 'object',
        'status': 'object'
    }
}

# --- Database setup ---
db_name = 'ecommerce.db'
conn = None  # Initialize connection to None

try:
    # Establish a connection to the SQLite database
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    print(f"Database '{db_name}' created and connected successfully. ✅")

    # Create tables
    cursor.execute(customers_schema)
    cursor.execute(products_schema)
    cursor.execute(orders_schema)
    print("Tables 'customers', 'products', and 'orders' created successfully.")

    # --- Load data from CSV files into the tables using pandas ---
    csv_to_table_map = {
        '/content/customers.csv': 'customers',
        '/content/products.csv': 'products',
        '/content/orders.csv': 'orders'
    }

    for csv_file, table_name in csv_to_table_map.items():
        if os.path.exists(csv_file):
            print(f"\nProcessing '{csv_file}' for table '{table_name}'...")

            # Read the CSV file into a pandas DataFrame
            df = pd.read_csv(csv_file)

            # 1. Get the expected schema for the current table
            expected_schema = COLUMN_DATA_TYPES[table_name]
            expected_cols = list(expected_schema.keys())

            # 2. Handle missing/extra columns
            # Drop columns from DataFrame that are not in the schema
            df = df[df.columns.intersection(expected_cols)]

            # Add any missing columns and fill with None (which becomes NULL in SQL)
            for col in expected_cols:
                if col not in df.columns:
                    df[col] = None

            # 3. Reorder columns to match the defined schema exactly
            df = df[expected_cols]

            # 4. Enforce data types
            for col, dtype in expected_schema.items():
                if 'datetime' in dtype:
                    # Use pd.to_datetime for date/time columns, coercing errors to NaT (Not a Time)
                    df[col] = pd.to_datetime(df[col], errors='coerce')
                else:
                    # Use astype for other columns, handling potential conversion errors
                    try:
                        df[col] = df[col].astype(dtype)
                    except (ValueError, TypeError) as e:
                        print(f"  - Warning: Could not convert column '{col}' to {dtype}. Error: {e}. Leaving as is.")


            # Use the to_sql method to insert the cleaned DataFrame
            df.to_sql(table_name, conn, if_exists='append', index=False)
            print(f"  -> Data from '{csv_file}' loaded into '{table_name}' table successfully.")
        else:
            print(f"Warning: '{csv_file}' not found. Skipping data load for '{table_name}'.")

    # Commit the changes to the database
    conn.commit()
    print("\nData committed to the database successfully. 🎉")

except sqlite3.Error as e:
    print(f"Database error: {e}")
except pd.errors.EmptyDataError as e:
    print(f"Pandas error: {e}. One of the CSV files might be empty.")
except KeyError as e:
    print(f"Schema definition error: A column is missing from the TABLE_DATA_TYPES dictionary: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")
finally:
    # Close the connection if it was established
    if conn:
        conn.close()
        print("Database connection closed.")

Database 'ecommerce.db' created and connected successfully. ✅
Tables 'customers', 'products', and 'orders' created successfully.

Processing '/content/customers.csv' for table 'customers'...
  -> Data from '/content/customers.csv' loaded into 'customers' table successfully.

Processing '/content/products.csv' for table 'products'...
  -> Data from '/content/products.csv' loaded into 'products' table successfully.

Processing '/content/orders.csv' for table 'orders'...
  -> Data from '/content/orders.csv' loaded into 'orders' table successfully.

Data committed to the database successfully. 🎉
Database connection closed.

# Tangent 2: You should setup your free API Key using Google's AI Studio

https://aistudio.google.com/

And, the key as `Secrets` in Colab.

### Install Gen AI library

We will be installing of the google-generativeai package, the official Python SDK for the Gemini API.

In [65]:
!pip install google-genai

Requirement already satisfied: google-genai in /usr/local/lib/python3.12/dist-packages (1.55.0)
Requirement already satisfied: anyio<5.0.0,>=4.8.0 in /usr/local/lib/python3.12/dist-packages (from google-genai) (4.12.1)
Requirement already satisfied: google-auth<3.0.0,>=2.14.1 in /usr/local/lib/python3.12/dist-packages (from google-auth[requests]<3.0.0,>=2.14.1->google-genai) (2.43.0)
Requirement already satisfied: httpx<1.0.0,>=0.28.1 in /usr/local/lib/python3.12/dist-packages (from google-genai) (0.28.1)
Requirement already satisfied: pydantic<3.0.0,>=2.9.0 in /usr/local/lib/python3.12/dist-packages (from google-genai) (2.12.3)
Requirement already satisfied: requests<3.0.0,>=2.28.1 in /usr/local/lib/python3.12/dist-packages (from google-genai) (2.32.4)
Requirement already satisfied: tenacity<9.2.0,>=8.2.3 in /usr/local/lib/python3.12/dist-packages (from google-genai) (9.1.2)
Requirement already satisfied: websockets<15.1.0,>=13.0.0 in /usr/local/lib/python3.12/dist-packages (from google-genai) (15.0.1)
Requirement already satisfied: typing-extensions<5.0.0,>=4.11.0 in /usr/local/lib/python3.12/dist-packages (from google-genai) (4.15.0)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/local/lib/python3.12/dist-packages (from google-genai) (1.9.0)
Requirement already satisfied: sniffio in /usr/local/lib/python3.12/dist-packages (from google-genai) (1.3.1)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.12/dist-packages (from anyio<5.0.0,>=4.8.0->google-genai) (3.11)
Requirement already satisfied: cachetools<7.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from google-auth<3.0.0,>=2.14.1->google-auth[requests]<3.0.0,>=2.14.1->google-genai) (6.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.12/dist-packages (from google-auth<3.0.0,>=2.14.1->google-auth[requests]<3.0.0,>=2.14.1->google-genai) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.12/dist-packages (from google-auth<3.0.0,>=2.14.1->google-auth[requests]<3.0.0,>=2.14.1->google-genai) (4.9.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.12/dist-packages (from httpx<1.0.0,>=0.28.1->google-genai) (2026.1.4)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.12/dist-packages (from httpx<1.0.0,>=0.28.1->google-genai) (1.0.9)
Requirement already satisfied: h11>=0.16 in /usr/local/lib/python3.12/dist-packages (from httpcore==1.*->httpx<1.0.0,>=0.28.1->google-genai) (0.16.0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pydantic<3.0.0,>=2.9.0->google-genai) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.4 in /usr/local/lib/python3.12/dist-packages (from pydantic<3.0.0,>=2.9.0->google-genai) (2.41.4)
Requirement already satisfied: typing-inspection>=0.4.2 in /usr/local/lib/python3.12/dist-packages (from pydantic<3.0.0,>=2.9.0->google-genai) (0.4.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0,>=2.28.1->google-genai) (3.4.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0,>=2.28.1->google-genai) (2.5.0)
Requirement already satisfied: pyasn1<0.7.0,>=0.6.1 in /usr/local/lib/python3.12/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0,>=2.14.1->google-auth[requests]<3.0.0,>=2.14.1->google-genai) (0.6.1)

### Import required modules

In [66]:
from google import genai
from google.colab import userdata

In [67]:
genai_client = genai.Client(api_key=userdata.get('GOOGLE_API_KEY'))

# Tangent 3: You should learn about Prompt Engineering

## The Anatomy of an Effective Prompt: A Unified Framework

A fundamental advancement in prompt engineering is the realization that a prompt is not a monolithic question but a structured document composed of distinct components.

- **Role (or Persona):** This component defines who the model should be. Assigning a role, such as "You are a senior technical support specialist," constrains the model's vast knowledge base, forcing it to filter its response through a specific lens of expertise, tone, and style. This dramatically improves the coherence and domain-specificity of the output.


- **Context (or Background Information):** This provides the necessary background for the task. It can include user history, product documentation, previous conversation turns, or any other data that informs the query. Providing rich context is essential for generating relevant and personalized responses.


- **Task (or Instruction/Directive):** This is the core of the prompt—a clear, specific, and unambiguous statement of the action the model should perform. The use of direct action verbs (e.g., "Analyze," "Summarize," "Generate," "Classify") is critical for clarity.


- **Examples (or Shots):** These are high-quality examples of the desired input-output pattern. They are the foundation of few-shot prompting and are one of the most powerful tools for controlling output format and style. By showing the model exactly what is expected, examples enable a form of in-context learning.


- **Constraints (or Rules/Warnings):** This component defines the boundaries for the response. It specifies what the model should not do, such as avoiding certain topics, adhering to a word count, or refraining from using technical jargon. These "guardrails" are crucial for safety and brand alignment.


- **Output Format (or Structure):** This explicitly defines the structure of the desired output, such as JSON, Markdown, or a bulleted list. Specifying the format is vital for applications that need to programmatically parse the model's response, as it ensures the output is machine-readable and consistent.

To help the model distinguish between these different components, it is a best practice to use clear delimiters. Structuring the prompt with markers like Markdown headers (e.g., `###Instruction###`).

[Unified Framework For An Effective Prompt](https://www.geeksforgeeks.org/data-science/a-unified-framework-for-an-effective-prompt/)

In [68]:
prompt = """

###ROLE###
You are a highly skilled Text-to-SQL translator with expertise in SQL syntax, database schema interpretation, and natural language understanding. You generate syntactically correct and semantically accurate SQL queries based on user input and a given database schema.

###CONTEXT###
The user is working with a relational database for an e-commerce platform. The database includes three main tables: `customers`, `products`, and `orders`. The goal is to allow users to input natural language queries (in English), and have the model return equivalent SQL statements that accurately extract the requested data using the given schema.

Here is the full schema:

**Customers Table**
```sql
CREATE TABLE IF NOT EXISTS customers (
    customer_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(50),
    phone_number VARCHAR(50),
    address VARCHAR(50),
    city VARCHAR(50),
    country VARCHAR(50),
    postal_code VARCHAR(50),
    loyalty_points INT
);
````

**Products Table**

```sql
CREATE TABLE IF NOT EXISTS products (
    product_id INT PRIMARY KEY,
    product_name TEXT,
    description TEXT,
    price DECIMAL(10,2),
    discount_percentage DECIMAL(5,2),
    category VARCHAR(50),
    brand TEXT,
    stock_quantity INT,
    color VARCHAR(50),
    size VARCHAR(20),
    weight DECIMAL(5,2),
    dimensions TEXT,
    release_date DATE,
    rating DECIMAL(3,1),
    reviews_count INT,
    seller_name TEXT,
    seller_rating DECIMAL(3,1),
    seller_reviews_count INT,
    shipping_method VARCHAR(20),
    shipping_cost DECIMAL(6,2)
);
```

**Orders Table**

```sql
CREATE TABLE IF NOT EXISTS orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    product_id INT,
    quantity INT,
    unit_price DECIMAL(10,2),
    total_price DECIMAL(10,2),
    order_date DATE,
    shipping_address VARCHAR(255),
    payment_method VARCHAR(20),
    status VARCHAR(20),
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
);
```

###TASK###
Your task is to:

1. Read a natural language query about the e-commerce data.
2. Interpret the user's intent based on the schema provided.
3. Generate a valid SQL `SELECT` query that returns the expected result.
4. Ensure correct table joins, column selection, filtering, and grouping as necessary.
5. Handle aggregate functions (e.g., `COUNT`, `AVG`, `SUM`) where appropriate.
6. Disambiguate user terms based on schema details (e.g., "buyer" → `customers`, "product rating" → `products.rating`, etc.).

###CONSTRAINTS###

* Only return a valid SQL query as output — no explanations or extra text.
* The user is using sqllite database - respond with correct and valid sqllite syntax
* Use aliases (`AS`) for column names only when the original name is ambiguous.
* Do not create or modify tables.
* Do not assume the existence of tables or columns not provided in the schema.
* Avoid subqueries unless absolutely necessary for correctness or performance.
* Prefer readability: indent joins and clauses properly.

###EXAMPLES###
**Input:** "Show me the names and emails of customers from Canada who have more than 1000 loyalty points."
**Output:**

```sql
SELECT first_name, last_name, email
FROM customers
WHERE country = 'Canada' AND loyalty_points > 1000;
```

**Input:** "List the top 5 products with the highest ratings and their categories."
**Output:**

```sql
SELECT product_name, category, rating
FROM products
ORDER BY rating DESC
LIMIT 5;
```

**Input:** "How many orders were placed in August 2025?"
**Output:**

```sql
SELECT COUNT(*) AS total_orders
FROM orders
WHERE order_date BETWEEN '2025-08-01' AND '2025-08-31';
```

**Input:** "What is the average shipping cost for products sold by sellers with a rating above 4.5?"
**Output:**

```sql
SELECT AVG(shipping_cost) AS average_shipping_cost
FROM products
WHERE seller_rating > 4.5;
```

###OUTPUT FORMAT###
Return only the sqllite SQL query as a code block using triple backticks and the `sql` language tag, like this:

```sql
-- Your SQL query here
```
"""

In [69]:
import json
def get_sql_query_via_gemini(genai_client, prompt, user_query):

  # https://www.geeksforgeeks.org/python/formatted-string-literals-f-strings-python/
  contents = f"""
  {prompt}

  Here's the user query in english you need to work on:
  {user_query}
  """
  response = genai_client.models.generate_content(model='gemini-2.5-flash', contents=contents)
  # print(response) # uncomment this and understand at the output

  # Access the usage_metadata attribute
  usage_metadata = response.usage_metadata

  # Print the different token counts
  print(f"Input Token Count: {usage_metadata.prompt_token_count}")
  print(f"Thoughts Token Count: {response.usage_metadata.thoughts_token_count}")
  print(f"Output Token Count: {usage_metadata.candidates_token_count}")
  print(f"Total Token Count: {usage_metadata.total_token_count}")

  output = response.text.replace('```sql', '').replace('```', '')

  return output

In [70]:
import sqlite3
import pandas as pd

def execute_query(query, db_name='ecommerce.db'):

    conn = None
    try:
        # Connect to the database
        conn = sqlite3.connect(db_name)
        cursor = conn.cursor()

        # Execute the query
        print(f"\nExecuting query on '{db_name}':\n{query}")
        cursor.execute(query)

        # Fetch all results
        results = cursor.fetchall()

        # Get column names from the cursor description
        columns = [description[0] for description in cursor.description]

        # Format results as a dataframe for easier use
        results_as_dict = [dict(zip(columns, row)) for row in results]
        results_df = pd.DataFrame(results_as_dict)

        print("Query executed successfully.")
        return results_df

    except sqlite3.Error as e:
        print(f"Database error executing query: {e}")
        return None
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return None
    finally:
        if conn:
            conn.close()

In [71]:
def text2sql(genai_client, prompt, user_query):
  output = get_sql_query_via_gemini(genai_client, prompt, user_query)
  results = execute_query(output)
  return results

In [72]:
#text2sql(genai_client, prompt, "Show me the order count by country")

In [73]:
#text2sql(genai_client, prompt, "What are my top 10 most popular products")

In [74]:
#text2sql(genai_client, prompt, "which country ranks in middle by total sales??")

In [75]:
#text2sql(genai_client, prompt, "What is the 2nd highest sold product for each country?")

In [76]:
#text2sql(genai_client, prompt, "rank and count of sales of India by total sales??")

In [77]:
#text2sql(genai_client, prompt, "Give me the order count by day of month and sort it by order count")

In [78]:
#text2sql(genai_client, prompt, "On which day of the week do I get the most orders? Give me a detailed report.")

# What Next?

### **Retrieval-Augmented Generation (RAG)**

RAG is a powerful technique that combines the knowledge of a large language model with external data. This is especially useful when you need the model to answer questions about information it wasn't trained on.

* **Why it's a great next step:**
    * **Reduces Hallucinations:** The model's answers are grounded in the information you provide, making them more factual.
    * **Uses Real-Time Information:** You can constantly update your knowledge base with new information without having to retrain the model.
    * **Provides Citations:** You can show users the sources of the information used to generate the answer.



---


### **Fine-Tuning a Pre-Trained Model**

If you have a specific task and enough data, fine-tuning a smaller, open-source language model can be a powerful next step.

* **Why it's a good next step:**
    * **Improved Performance:** A fine-tuned model can achieve higher accuracy and more consistent outputs for your specific use case than a general-purpose model with just prompt engineering.
    * **Reduced Prompt Complexity:** You may be able to use much simpler prompts with a fine-tuned model.
    * **Potentially Lower Costs:** Using a smaller, fine-tuned model that you host yourself can sometimes be cheaper in the long run than making many API calls to a larger model.



---



### **Building More Complex Systems**

You can also think about building more sophisticated applications on top of the language model.

* **Agent-Based Systems:** Create "agents" that can use tools to perform actions. For example, an agent could be given access to a calculator, a search engine, or your company's internal APIs to break down complete tasks.
* **Multi-Step Reasoning:** For complex problems, you can break them down into smaller steps and have the language model solve each step in sequence. The output of one step can be used as the input for the next.

# Submission Details

Can you do the same for this dataset

https://github.com/AshishJangra27/datasets/tree/main/Sneaker%20Sales

##Submission Project 15

Completing a Text to SQL program on the above sneakers datatset

In [79]:
!git clone https://github.com/Jedi80/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science

fatal: destination path '21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science' already exists and is not an empty directory.

In [80]:
#Getting customer table info
pd.read_csv('/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/customers.csv').head()

,CustomerID,FirstName,LastName,Email,PhoneNumber,City,State
0,C001,Rahul,Sharma,rahul.sharma@email.com,+91 98765 43210,bangalore,Karnataka
1,C002,priya,Patel,priya.patel@email.com,+91 87654 32109,Delhi,Delhi
2,C003,amit,Singh,amit.singh@email.com,+91 76543 21098,mumbai,Maharashtra
3,C004,Neha,Gupta,neha.gupta@email.com,+91 65432 10987,Chennai,Tamil Nadu
4,C005,Vikram,Reddy,vikram.reddy@email.com,+91 54321 09876,Hyderabad,Telangana

In [81]:
pd.read_csv('/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/products.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    50 non-null     object
 1   ProductName  50 non-null     object
 2   Category     50 non-null     object
 3   UnitPrice    50 non-null     int64
 4   SupplierID   50 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.1+ KB

In [82]:
#Setting customer schema
sneakers_customers_schema = """
CREATE TABLE IF NOT EXISTS customers (
    CustomerID VARCHAR(50) PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Email VARCHAR(50),
    PhoneNumber VARCHAR(50),
    City VARCHAR(50),
    State VARCHAR(50)
);
"""

In [83]:
#Getting products info
pd.read_csv('/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/products.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    50 non-null     object
 1   ProductName  50 non-null     object
 2   Category     50 non-null     object
 3   UnitPrice    50 non-null     int64
 4   SupplierID   50 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.1+ KB

In [84]:
pd.read_csv('/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/products.csv').head()

  ProductID      ProductName Category  UnitPrice SupplierID
0      P001    RunFast Elite  Running       5999       S001
1      P002  StreetStyle Pro   Casual       9999       S002
2      P003      CourtMaster   Tennis       5999       S003
3      P004    TrailBlazer X   Hiking       7999       S001
4      P005        UrbanChic  Fashion       7999       S004

In [85]:
#Setting Products schema
sneakers_products_schema = """
CREATE TABLE IF NOT EXISTS products (
    ProductID VARCHAR(50) PRIMARY KEY,
    ProductName TEXT,
    Category VARCHAR(50),
    UnitPrice INT,
    SupplierID VARCHAR(50), -- Added SupplierID column definition
    FOREIGN KEY (SupplierID) REFERENCES suppliers(SupplierID)
);
"""

In [86]:
#Getting Sales info
pd.read_csv('/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/sales.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SaleID         50 non-null     int64
 1   Date           50 non-null     object
 2   ProductID      50 non-null     object
 3   CustomerID     50 non-null     object
 4   Quantity       50 non-null     int64
 5   TotalAmount    50 non-null     int64
 6   SalesRepID     50 non-null     object
 7   StoreLocation  50 non-null     object
dtypes: int64(3), object(5)
memory usage: 3.3+ KB

In [87]:
pd.read_csv('/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/sales.csv').head()

,SaleID,Date,ProductID,CustomerID,Quantity,TotalAmount,SalesRepID,StoreLocation
0,1,2023-01-01,P003,C045,2,11998,SR05,"Mumbai, Maharashtra"
1,2,2023-01-01,P001,C078,1,5999,SR02,"Delhi, Delhi"
2,3,2023-01-02,P005,C023,3,23997,SR01,"Bangalore, Karnataka"
3,4,2023-01-02,P002,C056,1,9999,SR03,"CHENNAI, Tamil Nadu"
4,5,2023-01-03,P004,C089,2,15998,SR04,"Kolkata, west bengal"

In [88]:
#Setting Sales schema
sneakers_sales_schema = """
CREATE TABLE IF NOT EXISTS sales (
    SaleID INT PRIMARY KEY,
    Date DATE,
    ProductID VARCHAR(50),
    CustomerID VARCHAR(50),
    Quantity INT,
    TotalAmount INT,
    SalesRepID VARCHAR(50),
    StoreLocation VARCHAR(70),
    FOREIGN KEY (ProductID) REFERENCES products(ProductID),
    FOREIGN KEY (CustomerID) REFERENCES customers(CustomerID),
    FOREIGN KEY (SalesRepID) REFERENCES sales_representative(SalesRepID)
);
"""

In [89]:
#Get Sales Representative info
pd.read_csv('/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/sales_representative.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SalesRepID  50 non-null     object
 1   FirstName   50 non-null     object
 2   LastName    50 non-null     object
 3   HireDate    50 non-null     object
 4   Region      50 non-null     object
dtypes: object(5)
memory usage: 2.1+ KB

In [90]:
pd.read_csv('/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/sales_representative.csv').head()

  SalesRepID FirstName   LastName    HireDate     Region
0       SR01      Arun     Kapoor  2020-03-15      North
1       SR02     divya   malhotra  2019-07-01       West
2       SR03    Sanjay      Mehta  2021-01-10      South
3       SR04    Preeti  Choudhury  2020-11-05       East
4       SR05    Anjali      Menon  2019-12-03  Northwest

In [91]:
#Set Sales Representative schema
sneakers_sales_representative_schema = """
CREATE TABLE IF NOT EXISTS sales_representative (
    SalesRepID VARCHAR(50) PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    HireDate DATE,
    Region VARCHAR(50)
);
"""

In [92]:
#Get Suppliers info
pd.read_csv('/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/suppliers.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SupplierID     50 non-null     object
 1   SupplierName   50 non-null     object
 2   ContactPerson  50 non-null     object
 3   Email          50 non-null     object
 4   PhoneNumber    50 non-null     object
 5   Country        50 non-null     object
dtypes: object(6)
memory usage: 2.5+ KB

In [93]:
pd.read_csv('/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/suppliers.csv').head()

,SupplierID,SupplierName,ContactPerson,Email,PhoneNumber,Country
0,S001,SportsTrend Enterprises,Rajiv Khanna,rajiv.k@sportstrend.com,+91 22 2222 3333,India
1,S002,fitness footwear ltd.,Anjali Bose,anjali.b@fitnessfootwear.com,+91 11 3333 4444,India
2,S003,AthleticZone Corp.,Suresh Menon,suresh.m@athleticzone.com,+91 80 4444 5555,India
3,S004,UrbanKicks India,Pooja Reddy,pooja.r@urbankicks.com,+91 44 5555 6666,India
4,S005,TrendySteps Pvt Ltd,Aryan Gupta,aryan.g@trendysteps.com,+91 33 6666 7777,India

In [94]:
#Setting Suppliers schema
sneakers_suppliers_schema = """
CREATE TABLE IF NOT EXISTS suppliers (
    SupplierID VARCHAR(50) PRIMARY KEY,
    SupplierName VARCHAR(50),
    ContactPerson VARCHAR(50),
    Email VARCHAR(50),
    PhoneNumber VARCHAR(50),
    Country VARCHAR(50)
);
"""

In [95]:
#Removing possible database
db_name = 'sneaker_sales.db'

if os.path.exists(db_name):
    os.remove(db_name)
    print(f"Removed existing database '{db_name}'.")

Removed existing database 'sneaker_sales.db'.

In [96]:
#Setting up sneaker_sales database
import sqlite3
import pandas as pd
import os


COLUMN_DATA_TYPES = {
    'customers': {
        'CustomerID': 'object',
        'FirstName': 'object',
        'LastName': 'object',
        'Email': 'object',
        'PhoneNumber': 'object',
        'City': 'object',
        'State': 'object'
    },
    'products': {
        'ProductID': 'object',
        'ProductName': 'object',
        'Category': 'object',
        'UnitPrice': 'int64',
        'SupplierID': 'object' # Ensure SupplierID is in COLUMN_DATA_TYPES
    },
    'sales': {
        'SaleID': 'int64',
        'Date': 'datetime64[ns]',
        'ProductID': 'object',
        'CustomerID': 'object',
        'Quantity': 'int64',
        'TotalAmount': 'int64',
        'SalesRepID': 'object',
        'StoreLocation': 'object'
    },
    'sales_representative': {
        'SalesRepID': 'object',
        'FirstName': 'object',
        'LastName': 'object',
        'HireDate': 'datetime64[ns]',
        'Region': 'object'
    },
    'suppliers': {
        'SupplierID': 'object',
        'SupplierName': 'object',
        'ContactPerson': 'object',
        'Email': 'object',
        'PhoneNumber': 'object',
        'Country': 'object'
    }
}

# Schema definitions
sneakers_customers_schema = """
CREATE TABLE IF NOT EXISTS customers (
    CustomerID VARCHAR(50) PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Email VARCHAR(50),
    PhoneNumber VARCHAR(50),
    City VARCHAR(50),
    State VARCHAR(50)
);
"""

sneakers_products_schema = """
CREATE TABLE IF NOT EXISTS products (
    ProductID VARCHAR(50) PRIMARY KEY,
    ProductName TEXT,
    Category VARCHAR(50),
    UnitPrice INT,
    SupplierID VARCHAR(50),
    FOREIGN KEY (SupplierID) REFERENCES suppliers(SupplierID)
);
"""

sneakers_sales_schema = """
CREATE TABLE IF NOT EXISTS sales (
    SaleID INT PRIMARY KEY,
    Date DATE,
    ProductID VARCHAR(50),
    CustomerID VARCHAR(50),
    Quantity INT,
    TotalAmount INT,
    SalesRepID VARCHAR(50),
    StoreLocation VARCHAR(70),
    FOREIGN KEY (ProductID) REFERENCES products(ProductID),
    FOREIGN KEY (CustomerID) REFERENCES customers(CustomerID),
    FOREIGN KEY (SalesRepID) REFERENCES sales_representative(SalesRepID)
);
"""

sneakers_sales_representative_schema = """
CREATE TABLE IF NOT EXISTS sales_representative (
    SalesRepID VARCHAR(50) PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    HireDate DATE,
    Region VARCHAR(50)
);
"""

sneakers_suppliers_schema = """
CREATE TABLE IF NOT EXISTS suppliers (
    SupplierID VARCHAR(50) PRIMARY KEY,
    SupplierName VARCHAR(50),
    ContactPerson VARCHAR(50),
    Email VARCHAR(50),
    PhoneNumber VARCHAR(50),
    Country VARCHAR(50)
);
"""

# --- Database setup ---
db_name = 'sneaker_sales.db'
conn = None  # Initialize connection to None

try:
    # Establish a connection to the SQLite database
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    print(f"Database '{db_name}' created and connected successfully. ✅")

    # Create tables
    cursor.execute(sneakers_customers_schema)
    cursor.execute(sneakers_products_schema)
    cursor.execute(sneakers_sales_schema)
    cursor.execute(sneakers_sales_representative_schema)
    cursor.execute(sneakers_suppliers_schema)
    print("Tables 'customers', 'products', 'sales', 'sales_representative', and 'suppliers' created successfully.")

    # --- Load data from CSV files into the tables using pandas ---
    csv_to_table_map = {
        '/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/customers.csv': 'customers',
        '/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/products.csv': 'products',
        '/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/sales.csv': 'sales',
        '/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/sales_representative.csv': 'sales_representative',
        '/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/suppliers.csv': 'suppliers'
    }

    for csv_file, table_name in csv_to_table_map.items():
        if os.path.exists(csv_file):
            print(f"\nProcessing '{csv_file}' for table '{table_name}'...")

            # Read the CSV file into a pandas DataFrame
            df = pd.read_csv(csv_file)

            # 1. Get the expected schema for the current table
            expected_schema = COLUMN_DATA_TYPES[table_name]
            expected_cols = list(expected_schema.keys())

            # 2. Handle missing/extra columns
            # Drop columns from DataFrame that are not in the schema
            df = df[df.columns.intersection(expected_cols)]

            # Add any missing columns and fill with None (which becomes NULL in SQL)
            for col in expected_cols:
                if col not in df.columns:
                    df[col] = None

            # 3. Reorder columns to match the defined schema exactly
            df = df[expected_cols]

            # 4. Enforce data types
            for col, dtype in expected_schema.items():
                if 'datetime' in dtype:
                    # Use pd.to_datetime for date/time columns, coercing errors to NaT (Not a Time)
                    df[col] = pd.to_datetime(df[col], errors='coerce')
                else:
                    # Use astype for other columns, handling potential conversion errors
                    try:
                        df[col] = df[col].astype(dtype)
                    except (ValueError, TypeError) as e:
                        print(f"  - Warning: Could not convert column '{col}' to {dtype}. Error: {e}. Leaving as is.")


            # Use the to_sql method to insert the cleaned DataFrame
            df.to_sql(table_name, conn, if_exists='append', index=False)
            print(f"  -> Data from '{csv_file}' loaded into '{table_name}' table successfully.")
        else:
            print(f"Warning: '{csv_file}' not found. Skipping data load for '{table_name}'.")

    # Commit the changes to the database
    conn.commit()
    print("\nData committed to the database successfully. 🎉")

except sqlite3.Error as e:
    print(f"Database error: {e}")
except pd.errors.EmptyDataError as e:
    print(f"Pandas error: {e}. One of the CSV files might be empty.")
except KeyError as e:
    print(f"Schema definition error: A column is missing from the TABLE_DATA_TYPES dictionary: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")
finally:
    # Close the connection if it was established
    if conn:
        conn.close()
        print("Database connection closed.")

Database 'sneaker_sales.db' created and connected successfully. ✅
Tables 'customers', 'products', 'sales', 'sales_representative', and 'suppliers' created successfully.

Processing '/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/customers.csv' for table 'customers'...
  -> Data from '/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/customers.csv' loaded into 'customers' table successfully.

Processing '/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/products.csv' for table 'products'...
  -> Data from '/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/products.csv' loaded into 'products' table successfully.

Processing '/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/sales.csv' for table 'sales'...
  -> Data from '/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/sales.csv' loaded into 'sales' table successfully.

Processing '/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/sales_representative.csv' for table 'sales_representative'...
  -> Data from '/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/sales_representative.csv' loaded into 'sales_representative' table successfully.

Processing '/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/suppliers.csv' for table 'suppliers'...
  -> Data from '/content/21-Projects-in-21-Days-Projects-AI-ML-and-Data-Science/Project_15/suppliers.csv' loaded into 'suppliers' table successfully.

Data committed to the database successfully. 🎉
Database connection closed.

In [97]:
#Creating the AI sql prompt for sneakers database
sneakers_db_prompt = """

###ROLE###
You are a highly skilled Text-to-SQL translator with expertise in SQL syntax, database schema interpretation, and natural language understanding. You generate syntactically correct and semantically accurate SQL queries based on user input and a given database schema.

###CONTEXT###
The user is working with a relational database for a platform that sells sneakers. The database includes five main tables: `customers`, `products`, `sales`, sales_representative', and 'suppliers'. The goal is to allow users to input natural language queries (in English), and have the model return equivalent SQL statements that accurately extract the requested data using the given schema.

Here is the full schema:

**Customers Table**
```sql
CREATE TABLE IF NOT EXISTS customers (
    CustomerID VARCHAR(50) PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Email VARCHAR(50),
    PhoneNumber VARCHAR(50),
    City VARCHAR(50),
    State VARCHAR(50)
);
````

**Products Table**

```sql
CREATE TABLE IF NOT EXISTS products (
    ProductID VARCHAR(50) PRIMARY KEY,
    ProductName TEXT,
    Category VARCHAR(50),
    UnitPrice INT,
    SupplierID VARCHAR(50),
    FOREIGN KEY (SupplierID) REFERENCES suppliers(SupplierID)
);
```

**Sales Table**

```sql
CREATE TABLE IF NOT EXISTS sales (
    SaleID INT PRIMARY KEY,
    Date DATE,
    ProductID VARCHAR(50),
    CustomerID VARCHAR(50),
    Quantity INT,
    TotalAmount INT,
    SalesRepID VARCHAR(50),
    StoreLocation VARCHAR(70),
    FOREIGN KEY (ProductID) REFERENCES products(ProductID),
    FOREIGN KEY (CustomerID) REFERENCES customers(CustomerID),
    FOREIGN KEY (SalesRepID) REFERENCES sales_representative(SalesRepID)
);
```

**Sales Representative Table**

```sql
CREATE TABLE IF NOT EXISTS sales_representative (
    SalesRepID VARCHAR(50) PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    HireDate DATE,
    Region VARCHAR(50)
);
```

**Suppliers Table**

```sql
CREATE TABLE IF NOT EXISTS suppliers (
    SupplierID VARCHAR(50) PRIMARY KEY,
    SupplierName VARCHAR(50),
    ContactPerson VARCHAR(50),
    Email VARCHAR(50),
    PhoneNumber VARCHAR(50),
    Country VARCHAR(50)
);
```

###TASK###
Your task is to:

1. Read a natural language query about the sneakers sales data.
2. Interpret the user's intent based on the schema provided.
3. Generate a valid SQL `SELECT` query that returns the expected result.
4. Ensure correct table joins, column selection, filtering, and grouping as necessary.
5. Handle aggregate functions (e.g., `COUNT`, `AVG`, `SUM`) where appropriate.
6. Disambiguate user terms based on schema details (e.g., "buyer" → `customers`, "product rating" → `products.rating`, etc.).


###CONSTRAINTS###

* Only return a valid SQL query as output — no explanations or extra text.
* The user is using sqllite database - respond with correct and valid sqllite syntax
* Use aliases (`AS`) for column names only when the original name is ambiguous.
* Do not create or modify tables.
* Do not assume the existence of tables or columns not provided in the schema.
* Avoid subqueries unless absolutely necessary for correctness or performance.
* Prefer readability: indent joins and clauses properly.

###EXAMPLES###
**Input:** "Show me the names and emails of customers from the state of Tamil Nadu."
**Output:**

```sql
SELECT FirstName, LastName, Email
FROM customers
WHERE State = 'Tamil Nadu';
```


**Input:** "List all of the products with their Unit Price under the Running category, and organize the list by the products' Unit Prices."
**Output:**

```sql
SELECT ProductName, UnitPrice
FROM products
WHERE Category = 'Running'
ORDER BY UnitPrice;
```

**Input:** "Which product sold the most in terms of quantity sold?"
**Output:**

```sql
SELECT p.ProductName, SUM(s.Quantity) AS total_quantity_sold
FROM sales AS s
JOIN products AS p ON s.ProductID = p.ProductID
GROUP BY p.ProductID, p.ProductName
ORDER BY total_quantity_sold DESC
LIMIT 1;
```

**Input:** "What year were the most sales representatives hired?"
**Output:**

```sql
SELECT strftime('%Y', HireDate) AS year, COUNT(*) AS num_hired
FROM sales_representative
GROUP BY year
ORDER BY num_hired DESC
LIMIT 1;
```


###OUTPUT FORMAT###
Return only the sqllite SQL query as a code block using triple backticks and the `sql` language tag, like this:

```sql
-- Your SQL query here
```
"""

In [98]:
#Function to obtain the SQL query using the user query and sneakers prompt
import json
def get_sneakers_sql_query_via_gemini(genai_client, prompt, user_query):

  # https://www.geeksforgeeks.org/python/formatted-string-literals-f-strings-python/
  contents = f"""
  {prompt}

  Here's the user query in english you need to work on:
  {user_query}
  """
  response = genai_client.models.generate_content(model='gemini-2.5-flash', contents=contents)
  # print(response) # uncomment this and understand at the output

  # Access the usage_metadata attribute
  usage_metadata = response.usage_metadata

  # Print the different token counts
  print(f"Input Token Count: {usage_metadata.prompt_token_count}")
  print(f"Thoughts Token Count: {response.usage_metadata.thoughts_token_count}")
  print(f"Output Token Count: {usage_metadata.candidates_token_count}")
  print(f"Total Token Count: {usage_metadata.total_token_count}")

  output = response.text.replace('```sql', '').replace('```', '')

  return output

In [99]:
import sqlite3
import pandas as pd

#Function to execute the sql query for the sneakers database
def execute_sneakers_query(query, db_name='sneaker_sales.db'):

    conn = None
    try:
        # Connect to the database
        conn = sqlite3.connect(db_name)
        cursor = conn.cursor()

        # Execute the query
        print(f"\nExecuting query on '{db_name}':\n{query}")
        cursor.execute(query)

        # Fetch all results
        results = cursor.fetchall()

        # Get column names from the cursor description
        columns = [description[0] for description in cursor.description]

        # Format results as a dataframe for easier use
        results_as_dict = [dict(zip(columns, row)) for row in results]
        results_df = pd.DataFrame(results_as_dict)

        print("Query executed successfully.")
        return results_df

    except sqlite3.Error as e:
        print(f"Database error executing query: {e}")
        return None
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return None
    finally:
        if conn:
            conn.close()

In [100]:
#getting and executing the sql query on the sneakers database
def text2sql_sneakers(genai_client, prompt, user_query):
  output = get_sneakers_sql_query_via_gemini(genai_client, prompt, user_query)
  results = execute_sneakers_query(output)
  return results

###Testing out the Text to SQL program

In [101]:
text2sql_sneakers(genai_client, sneakers_db_prompt, "Show me the order count by state")

Input Token Count: 1129
Thoughts Token Count: 57
Output Token Count: 53
Total Token Count: 1239

Executing query on 'sneaker_sales.db':

SELECT c.State, COUNT(s.SaleID) AS order_count
FROM sales AS s
JOIN customers AS c ON s.CustomerID = c.CustomerID
GROUP BY c.State
ORDER BY order_count DESC;

Query executed successfully.

           State  order_count
0    Maharashtra           14
1          Delhi            7
2    West Bengal            5
3      Telangana            5
4      Karnataka            5
5        Gujarat            5
6      Rajasthan            4
7  Uttar Pradesh            3
8     Tamil Nadu            2

In [102]:
text2sql_sneakers(genai_client, sneakers_db_prompt, "List all of the products with their Unit Price under the Casual category, and organize the list by the products' Unit Prices.")

Input Token Count: 1147
Thoughts Token Count: 47
Output Token Count: 26
Total Token Count: 1220

Executing query on 'sneaker_sales.db':

SELECT ProductName, UnitPrice
FROM products
WHERE Category = 'Casual'
ORDER BY UnitPrice;

Query executed successfully.

         ProductName  UnitPrice
0   ComfortWalk Lite       4999
1  ComfortWalk Ultra       5199
2    ComfortWalk Max       5399
3  ComfortWalk Prime       5599
4   ComfortWalk Plus       5799
5    StreetStyle Pro       9999
6    StreetStyle Max      10199
7      StreetStyle X      10399
8  StreetStyle Prime      10599
9   StreetStyle Plus      10799

In [105]:
text2sql_sneakers(genai_client, sneakers_db_prompt, "What are the top 5 regions that the most sales representatives were hired from?")

Input Token Count: 1138
Thoughts Token Count: 93
Output Token Count: 50
Total Token Count: 1281

Executing query on 'sneaker_sales.db':

SELECT Region, COUNT(SalesRepID) AS num_sales_reps_hired
FROM sales_representative
GROUP BY Region
ORDER BY num_sales_reps_hired DESC
LIMIT 5;

Query executed successfully.

      Region  num_sales_reps_hired
0       West                     5
1  Southwest                     5
2  Southeast                     5
3      South                     5
4  Northwest                     5

In [108]:
text2sql_sneakers(genai_client, sneakers_db_prompt, "List the top 5 suppliers who have the most individual sales.")

Input Token Count: 1135
Thoughts Token Count: 120
Output Token Count: 99
Total Token Count: 1354

Executing query on 'sneaker_sales.db':

SELECT
  s.SupplierName,
  COUNT(DISTINCT sa.SaleID) AS number_of_sales
FROM suppliers AS s
JOIN products AS p
  ON s.SupplierID = p.SupplierID
JOIN sales AS sa
  ON p.ProductID = sa.ProductID
GROUP BY
  s.SupplierID,
  s.SupplierName
ORDER BY
  number_of_sales DESC
LIMIT 5;

Query executed successfully.

              SupplierName  number_of_sales
0  SportsTrend Enterprises               20
1    fitness footwear ltd.               10
2       AthleticZone Corp.               10
3         UrbanKicks India               10